.navigation {
	background-color: #212121 ;
  height: 80px;
  padding: 8px 15px;
  transition: all 0.5s ease-in-out;
  width: 100% !important;
  &.active {
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	height: auto;
  	padding-top: 0;
  }
	.brand-logo {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		color: #ffcd00;
	}
	.btn {
		background-color: transparent;
		border: 1px solid #ffcd00;
	}

}

.side-nav {
	li{
		margin: 20px 0;
		&:hover,
		&.active {
			background: #ffcd00;
		}
		a:hover {
			color: #fff;
		}
	}
}