.my-carousel {
	background: #f7f7f7;
	padding-top: 4%;
	padding-bottom: 4%;
}

#carousel {
	.item {
		margin: 3px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.grabbing { 
    cursor:url(/images/grabbing.png) 8 8, move;
	}
}

#work-carousel {
	overflow: hidden;
	.item {
		margin: 0 auto;
		max-width: 200px;
		max-height: 200px;
		overflow: hidden;
		img {
			width: 100%;
			display: inline-block;
			vertical-align: top;
		}
	}
	.grabbing { 
    cursor:url(/images/grabbing.png) 8 8, move;
	}
}